body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.caption{
  color: black !important;
  text-transform: capitalize !important;
  font-size: 20px !important;
  font-weight: bolder;
  text-shadow:2px 0 0 #FFFFFF, 0 -1px 0 #FFFFFF, 0 1px 0 #FFFFFF, -1px 0 0#FFFFFF !important;
}
.brandname:hover {
  font-weight: bold;
  font-size: 22px;
  color: white;
}
.pink-text {
  color: rgb(255, 125, 125);
}

.brand_name {
  color: #0d6efd;
}

.hd {
  color: black;
  font-size: 90px;
  text-align: center;
  font-family: "Hind", sans-serif;
  text-transform: capitalize;
  /* text-shadow:2px 0 0 #FFFFFF, 0 -1px 0 #FFFFFF, 0 1px 0 #FFFFFF, -1px 0 0#FFFFFF; */
}

.blacksimpletxt {
  color: black;
  font-size: auto;
  font-family: "Hind", sans-serif !important;
  text-transform: capitalize;
  margin: auto;
  /* text-shadow:2px 0 0 #FFFFFF, 0 -1px 0 #FFFFFF, 0 1px 0 #FFFFFF, -1px 0 0#FFFFFF; */
}

.card {
  overflow: hidden;
  margin: 12px;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  font-family: "Hind", sans-serif !important;
}
.card:hover {
  box-shadow: 0px 30px 12px -8px rgba(0, 0, 0, 0.2) !important;
  transform: scale(1.05, 1.05) !important;
  text-decoration: none !important;
}
.bttn {
  width: 120px;
  font-family: "Hind", sans-serif;
}
.bttn:hover {
  background-color: #0d6efd !important;
  color: white !important;
}
.greytxt {
  color: rgb(100, 96, 96);
  font-size: auto;
  font-family: "Hind", sans-serif;
  text-transform: capitalize;
  text-decoration: solid;
  margin: auto;
  /* text-shadow:2px 0 0 #FFFFFF, 0 -1px 0 #FFFFFF, 0 1px 0 #FFFFFF, -1px 0 0#FFFFFF; */
}
.whitesimpletxt {
  color: white;
  font-size: auto;
  font-family: "Hind", sans-serif;
  text-transform: capitalize;
  margin: auto;
  /* text-shadow:2px 0 0 #FFFFFF, 0 -1px 0 #FFFFFF, 0 1px 0 #FFFFFF, -1px 0 0#FFFFFF; */
}

.myform {
  padding: 10px;
  margin-top: 30px;
  border: white solid 1px;
  border-radius: 25px;
  font-family: "Hind", sans-serif;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.myform:hover {
  box-shadow: 0px 30px 12px -8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05, 1.05);
  font-family: "Hind", sans-serif;
}
.active_class {
  color: #0d6efd !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.navlinkclass {
  color: gray;
  text-decoration: none !important;
  margin-top: 5px;
  margin-bottom: 5px;
}
.rightdiv {
  position: relative;
  background: #0275d8;
  text-align: right;
  color: white !important;
  min-width: 55%;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid #0275d8;
  float: right;
  right: 20px;
  margin-bottom: 10px;
}
.rightdiv::before {
  content: '';
  position: absolute;
  visibility: visible;
  top: -1px;
  right: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #0275d8;
}

.rightdiv::after {
  content: '';
  position: absolute;
  visibility: visible;
  top: 0px;
  right: -8px;
  border: 10px solid transparent;
  border-top: 10px solid #0275d8;
  clear: both;
}
.chatContainer{
  padding-top: 20px;
  padding-bottom: 20px;
  height:610px;
  width:100%;
  overflow-x:"hidden";
  overflow-y:'auto'
}
.leftdiv {
  position: relative;
  background: #d0cfca;
  text-align: left;
  min-width: 55%;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid #d0cfca;
  float: left;
  left: 20px;
  margin-bottom: 10px;
}
.leftdiv::before {
  content: '';
  position: absolute;
  visibility: visible;
  top: -1px;
  left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #d0cfca;
}

.leftdiv::after {
  content: '';
  position: absolute;
  visibility: visible;
  top: 0px;
  left: -8px;
  border: 10px solid transparent;
  border-top: 10px solid #d0cfca;
  clear: both;
}